<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>인트봇 공식 상점</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link href="/shop.css" rel="stylesheet">
  </head>
  <body>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">상점</h1><br>
      <p class="lead">인트봇에서 얻은 돈으로 상품을 사세요.</p>
      <p class="lead"><b><%= username %></b> 님의 돈: <b><%= money %> 원</b></p>
    </div>

    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">테스트</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">1000원</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>&nbsp;</li>
              <li>테스트 상품입니다.</li>
              <li>&nbsp;</li>
            </ul>
            <form action="/buy_process" method="POST">
                <div class="g-recaptcha" data-sitekey="6LcRp0YaAAAAAEOKYhYWW5m7ZZhmpo6xX6BtSQzi"></div>
                <input type="hidden" name="goods_id" value="test1">
                <input type="hidden" name="id" value="<%= id %>">
                <button type="submit" class="btn btn-lg btn-block btn-outline-primary">구매</button>
            </form>
            
          </div>
        </div>
      </div>
    </div>
    <script>
        setInterval(() => {
        if (($("form").children('input[name=id]').length) == 0 || ($("form").children('input[name=id]').attr("value")) != "<%= id%>") {
                $("form").append(`<input type="hidden" name="id" value="<%= id %>">`);
            }
        }, 1);
    </script>
  </body>
</html>
